<%- include('../partials/head') %>
<div class="form-card-container">
  <div class="content-container confirm-card card metal">
    <h2>Welcome!</h2>
    <p>Your username is:</p>
    <h3><%=username%></h3>
    <p>Your access code is:</p>
    <h3><%=accessCode%></h3>
    <a class="link" href="/login">Back to Login</a>
  </div>
</div>
<%- include('../partials/footer') %>
