<%- include('../partials/head') %>
<div class="form-card-container">
  <div class="content-container confirm-card card">
    <h2>Welcome!</h2>
    <p>Your username is:</p>
    <h4><%=username%></h4>
    <p>Your access code is:</p>
    <h4><%=accessCode%></h4>
    <a class="button button-link" href="/login">Back to Login</a>
  </div>
</div>
<%- include('../partials/footer') %>
